

.button {
	border: solid 2px white;
	background-color: brown;
	font-size: 16px;
	color: white;
	width: 150px;
	height: 75px;
	margin: 0 auto;
	margin-top: 10px;


}

#title {
	text-align: center;
	color: black;
	font-size: 60px;
}

#button-container {
	border-radius: 10px;
	background-image: url('../images/escape.png');
	background-repeat: no-repeat;
	background-position: right;
	width: auto;
	height: 665px;
	margin: auto;
	margin-left: 20px;

	text-align: center;

}

#button-area {
	border-radius: 10px;
	width: 200px;
	height: 400px;
	margin: auto;
	text-align: center;
}


.messageBox {
	width: 450px;
	height: 200px;
	border: solid black 2px;
	border-radius: 10px;
	background-color: brown;
	text-align: left;
	color: white;
	opacity: 0.9;
	position: absolute;
	left: 100px;
	top: 150px;
	padding-left: 10px;
	font-size: 20px;
}

#closeButton {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	float: right;
	text-align: center;
}

#container {
	
	border-radius: 10px;
	width: 1400px;
	height: 750px;
	margin: 0 auto;
}