.button {
	border: solid 2px white;
	border-radius: 10px;
	background-color: red;
	font-size: 16px;
	color: white;
	width: 100px;
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;


}

#title {
	text-align: center;
	color: white;
}

#button-container {
	border: solid 2px black;
	border-radius: 10px;
	background-color: brown;
	width: auto;
	height: 400px;
	margin: auto;
	text-align: center;
}

#button-area {
	border: solid 2px black;
	border-radius: 10px;
	background-color: brown;
	width: 200px;
	height: 400px;
	margin: auto;
	text-align: center;
}


.messageBox {
	width: 400px;
	height: 150px;
	border: solid black 2px;
	border-radius: 10px;
	background-color: green;
	text-align: center;
	color: white;
	opacity: 0.9;
	position: absolute;
	left: 100px;
	top: 150px;
}

#closeButton {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	float: right;
	text-align: center;
}

#container {
	border: solid black 4px;
	background-color: grey;
	border-radius: 10px;
	width: 1400px;
	height: 750px;
	margin: 0 auto;
}