.main-container {
	border: solid black 4px;
	width: 1400px;
	height: 750px;
	margin: 0 auto;
	background-image: url('../images/room3/room3.png');
	background-size: 1400px 750px;
	background-repeat: no-repeat;
	position: fixed;
}


.enterButton {
	display: inline-block;
	border: solid black 4px;
	background-color: white;
	border-radius: 10px;
	position: absolute;
	left: 857px;
	top: 200px;
	width: 100px;
	height: 60px;
	font-size: 20px;

}

.inventory {
	border: solid black 4px;
	width: 90%;
	height: 70px;
	margin: 0 auto;
	background-color: brown;
	opacity: 0.8;

}

.inventory-box {
	border: solid black 2px;
	width: 80px;
	height: 60px;
	margin-left: 40px;
	margin-right: 25px;
	background-color: white;
	display: inline-block;
	background-image: none;
	background-size: 90%;
	background-repeat: no-repeat;
}

#simon {
	width: 100px;
	height: 100px;
	border: solid red 2px;
	position: absolute;
	right: 320px;
	top: 85px;
}

#wire-container {
	width: 400px;
	height: 400px;
	border: solid black 6px;
	margin: 0 auto;
	background-color: grey;
}

#row1 {
	width: auto;
	height: 100px;
	border: solid red 2px;

}

#row2 {
	width: auto;
	height: 100px;
	border: solid red 2px;

}

#rowSelect {
	width: auto;
	height: 100px;
	border: solid blue 2px;
	
}

.wire {
	width: 50px;
	height: 50px;
	border: solid yellow 2px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
}

.wireS {
	width: 50px;
	height: 50px;
	border: solid yellow 2px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 15px;
	margin-right: 10px;
}

.wireSlot {
	width: 50px;
	height: 95px;
	border: solid black 2px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	background-color: brown;
}

#resetButton {
	width: 100px;
	height: 60px;
	position: absolute;	
	right: 660px;
	top: 400px;
	border: solid black 2px;
	font-size: 16px;
}






