
p {
	text-align: center;
	color: white;
	font-size: 20px;
}

.main-container {
	border: solid black 4px;
	width: 1400px;
	height: 750px;
	margin: 0 auto;
	background-image: url('../images/room3/room3dark.png');
	background-position: right;
	background-size: 1400px 750px;
	background-repeat: no-repeat;
	position: fixed;
}


.enterButton {
	display: inline-block;
	border: solid black 4px;
	background-color: white;
	border-radius: 10px;
	position: absolute;
	left: 857px;
	top: 200px;
	width: 100px;
	height: 60px;
	font-size: 20px;

}

.inventory {
	border: solid black 4px;
	width: 90%;
	height: 70px;
	margin: 0 auto;
	background-color: brown;
	opacity: 0.8;

}

.inventory-box {
	border: solid black 2px;
	width: 80px;
	height: 60px;
	margin-left: 40px;
	margin-right: 25px;
	background-color: white;
	display: inline-block;
	background-image: none;
	background-size: 90%;
	background-repeat: no-repeat;
}

#simon {
	width: 100px;
	height: 100px;
	position: absolute;
	right: 320px;
	top: 85px;
}

#wire-container {
	width: 400px;
	height: 600px;
	border: solid black 6px;
	margin: 0 auto;
	background-color: grey;
}

#row1 {
	width: auto;
	height: 70px;
	border: solid white 2px;

}

#row2 {
	width: auto;
	height: 100px;
	border: solid white 2px;

}

#rowSelect {
	width: auto;
	height: 100px;
	border: solid white 2px;
	
}

.wire {
	width: 50px;
	height: 50px;
	border: solid black 2px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
}

.wireS {
	width: 50px;
	height: 50px;
	border: solid black 2px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 15px;
	margin-right: 10px;
}

.wireSlot {
	width: 50px;
	height: 95px;
	border: solid black 2px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	background-color: brown;
	margin-bottom: 30px;
}

#buttons {
	border: solid black 2px;
	width: auto;
	height: 60px;
	display: inline-block;
	text-align: center;
}

#resetButton {
	width: 90px;
	height: 60px;
	border: solid black 2px;
	font-size: 12px;
}

#startButton {
	width: 90px;
	height: 60px;
	border: solid black 2px;
	font-size: 12px;
}

#instructButton {
	width: 90px;
	height: 60px;
	border: solid black 2px;
	font-size: 12px;
}

#closeButton {
	width: 90px;
	height: 60px;
	border: solid black 2px;
	font-size: 12px;
}


#countdown {
	border: solid black 2px;
	width: 100px;
	height: 70px;
	background-color: red;
	margin-left: 150px;
	text-align: center;
}

#timer {
	border: solid black 2px;
	background-color: green;
	color: white;
}

.messageBox {
	width: 500px;
	height: 150px;
	border: solid black 2px;
	border-radius: 10px;
	background-color: brown;
	text-align: center;
	color: white;
	opacity: 0.9;
	margin: 0 auto;
	padding-left: 10px;
	font-size: 18px;
}

#doorPad {
	width: 100px;
	height: 50px;
	position: absolute;
	left: 320px;
	top: 100px;
}

.formInput {
	width: 400px;
	height: 50px;
	position: absolute;
	left: 450px;
	top: 200px;
	font-size: 30px;
	border: solid black 4px;
}


.enterButton {
	display: inline-block;
	border: solid black 4px;
	background-color: white;
	border-radius: 10px;
	position: absolute;
	left: 857px;
	top: 200px;
	width: 100px;
	height: 60px;
	font-size: 20px;

}

#exitButton {
	width: 30px;
	float: right;
}

#winState {
	background-image: url('../images/win.png');
	border-radius: 10px;
	width: auto;
	height: 650px;
	border: solid black 2px;
	z-index: 2;
}

.finalTitle {
	margin: 0 auto;
}





