
.main-container {
	border: solid black 4px;
	width: 1400px;
	height: 750px;
	margin: 0 auto;
	background-image: url('../images/room1/room1.png');
	background-size: 1400px 750px;
	background-repeat: no-repeat;
	position: fixed;
}

.inventory {
	border: solid black 4px;
	width: 90%;
	height: 70px;
	margin: 0 auto;
	background-color: brown;
	opacity: 0.8;

}

.inventory-box {
	border: solid black 2px;
	width: 80px;
	height: 60px;
	margin-left: 40px;
	margin-right: 25px;
	background-color: white;
	display: inline-block;
	background-image: none;
	background-size: 90%;
	background-repeat: no-repeat;
}

.formInput {
	width: 400px;
	height: 50px;
	position: absolute;
	left: 450px;
	top: 200px;
	font-size: 30px;
	border: solid black 4px;
}


.enterButton {
	display: inline-block;
	border: solid black 4px;
	background-color: white;
	border-radius: 10px;
	position: absolute;
	left: 857px;
	top: 200px;
	width: 100px;
	height: 60px;
	font-size: 20px;

}

//Clickables in room 1

#items {
	border: solid red 2px;
	width: auto;
	height: auto;
}


#room2Link {
	width: 200px;
	height: 60px;
	background-color: brown;
	border: solid black 4px;
	text-decoration: none;
	color: white;
	position: absolute;
	top: 200px;
	left: 550px;
}

#whiteboard {
	/*border: solid red 2px;*/
	width: 150px;
	height: 100px;
	position: absolute;
	top: 100px;
	left: 650px;
	background-image: url('../images/room1/mess.png');
	background-repeat: no-repeat;
	background-size: 200px 170px;
}

#door {
	/*border: solid red 2px;*/
	width: 45px;
	height: 35px;
	position: absolute;
	top: 270px;
	left: 410px;

}

#doorLock {
	/*border: solid blue 2px;*/
	width: 170px;
	height: 50px;
	left: 300px;
	position: absolute;
	top: 220px;
}

#drawersItem {
	/*border: solid 2px red;*/
	width: 150px;
	height: 200px;
	position: absolute;
	right: 230px;
	top: 300px;
}

#pencilItem {
	/*border: solid 2px red;*/
	width: 100px;
	height: 60px;
	float: left;
	position: absolute;
	left: 300px;
	top: 600px;
	background-image: url('../images/room1/pencil.png');
	background-repeat: no-repeat;
	background-size: 80px 50px;
	
}

#paperItem {
	/*border: solid 2px red;*/
	width: 70px;
	height: 60px;
	float: right;
	position: absolute;
	right: 250px;
	top: 600px;
	background-image: url('../images/room1/paper.png');
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

#eraserItem {
	background-image: url('../images/room1/eraser.png');
	background-repeat: no-repeat;
	background-size: 50px 50px;
	display: none;
}

#laptopItem {
	/*border: solid 2px red;*/
	width: 80px;
	height: 70px;
	left: 580px;
	position: absolute;
	top: 240px;
}

.messageBox {
	width: 400px;
	height: 150px;
	border: solid black 2px;
	border-radius: 10px;
	background-color: brown;
	text-align: center;
	color: white;
	opacity: 0.9;
	margin: 0 auto;
	font-size: 18px;
}

#closeButton {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	float: right;
	text-align: center;
}

#timer {
	border: solid black 2px;
	background-color: green;
	color: white;
}




