
.main-container {
	border: solid black 4px;
	width: 1400px;
	height: 750px;
	margin: 0 auto;
	background-image: url('../images/room1.png');
	background-size: 1400px 750px;
	background-repeat: no-repeat;
}

.inventory {
	border: solid black 4px;
	width: 90%;
	height: 70px;
	margin: 0 auto;
	background-color: grey;
	opacity: 0.9;

}

.inventory-box {
	border: solid black 2px;
	width: 80px;
	height: 60px;
	margin-left: 40px;
	margin-right: 25px;
	background-color: brown;
	display: inline-block;
	background-image: none;
	background-size: 100%;
	background-repeat: no-repeat;
}

//Clickables in room 1

#items {
	border: solid red 2px;
	width: auto;
	height: auto;
}

#door {
	/*border: solid red 2px;*/
	width: 45px;
	height: 35px;
	position: absolute;
	top: 275px;
	left: 425px;

}

#doorLock {
	/*border: solid blue 2px;*/
	width: 170px;
	height: 50px;
	left: 300px;
	position: absolute;
	top: 220px;
}

#drawersItem {
	/*border: solid 2px red;*/
	width: 150px;
	height: 200px;
	position: absolute;
	right: 230px;
	top: 300px;
}

#pencilItem {
	/*border: solid 2px red;*/
	width: 100px;
	height: 60px;
	float: left;
	position: absolute;
	left: 300px;
	top: 600px;
	background-image: url('../images/pencil.png');
	background-repeat: no-repeat;
	background-size: 80px 50px;
	
}

#paperItem {
	/*border: solid 2px red;*/
	width: 70px;
	height: 60px;
	float: right;
	position: absolute;
	right: 250px;
	top: 600px;
	background-image: url('../images/paper.png');
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

#laptopItem {
	/*border: solid 2px red;*/
	width: 80px;
	height: 70px;
	left: 585px;
	position: absolute;
	top: 250px;
}



